@model Assistente_de_Estagio.Models.Documento


@{
    ViewData["Title"] = "DocTools";
}

<h1>Gerenciar Documentos</h1>

<h4>Documento</h4>
<hr />

@Html.ActionLink("AdicionarDocumento", "CriarDocumento", "Admin")


