
@{
    ViewData["Title"] = "Ferramentas Adiministrativas";
}

<h1>Ferramentas Adiministrativas</h1>

<div class="media-body">
    <button type="button" id="editDocumento" class="btn btn-default admin-tool-button" onclick="window.location.href = '/GerenciarDocumento'">
            <img class=".img-align-center" src="~/Images/Doc1.png" alt="Card image">
            <h4 class="card-header" style="text-align: center;">Gerenciamento de<br/>Documentos</h4>
    </button>
    <button type="button" id="editCurso" class="btn btn-default" style="width: 215px; height: 250px; word-break: break-all;" onclick="window.location.href = '/GerenciarCurso'">
            <img src="~/Images/Curso1.png" class=".img-align-center" alt="Card image">
            <h4 class="card-header">Gerenciamento de<br />Cursos</h4>
        </div>
    </button>
</div>